select {
    border-radius: 4px;
    border: 1px solid black;
    margin: 0 0 10px 0;
    padding: 10px 18px 10px 18px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: #FFFFFF;
}

.sidebar {
    width: 20%;
}

.recipe-section {
    padding-left: 3vw;
    width: 100%;
}

.sidebar-accordion {
    align-items: center;
}

.sidebar-item {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.sidebar-accordion-title{
    font-weight: 300;
    font-size: 15px;
}

.sidebar-accordion-item:hover{
  color: #ffafaf;
}

.checkbox-span{
    width: 5%;
}
